mixin field-label(name, label)
  - var label = label || name
  .form-group
    label(for=name).control-label.col-sm-3 #{label}
    .col-sm-3
      block
    label.control-label.unit
    .help-block.with-errors

mixin field-radio(name, value)
  label.radio-inline.col-sm-4
    input(type='radio', id=value, name=name, value=value)
    block

mixin field-static(name, label)
  +field-label(name, label)
    .col-sm-8
      p(id=name).form-control-static

mixin field-text-length(name, label)
  +field-label(name, label)
    input(type='text', id=name, name=name,
      pattern='[0-9]+\\.?[0-9]*',
      data-error='Must be a sequence of digits with at most one decimal point').form-control
    block
